*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --bg-blue-color:#136ad5;
}

:root {
    --background-color: #ffffff;
    --default-color: #394450;
    --heading-color: #223a58;
    --accent-color: #136ad5;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;
}
.header{
    background-color:var(--bg-blue-color) ;
    padding: 10px 0;
    
}
 
 
 a{
    text-decoration: none;
    color: white;

}
 .navmenu ul a{
    color:rgba(255, 255, 255, 0.669) ;
    /* opacity: .6; */
    position: relative;
 }
 .navmenu ul li a::before{
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left:0;
    background-color: white;
    visibility: hidden ;
    width: 0;
    transition: all 0.3s ease-in-out 0s;
 }
   .navmenu a:hover:before,
  .navmenu li:hover>a:before,
  .navmenu .active:before {
    visibility: visible;
 width: 100%;
  }
    .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
 color: white;
  }

  .navmenu .dropdown ul {
 
    padding: 10px  0;
    background: white;
    display: block;
    position: absolute;
    visibility: hidden;
    list-style: none;
    left: 14px;
    top:130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
    padding:5px 15px;
  }

  .navmenu .dropdown ul a {
 
    font-size: 15px;
    text-transform: none;
    color: black;
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul .active,
  .navmenu .dropdown ul li:hover>a {
    color: var(--bg-blue-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 150%;
    visibility: visible;
  }
  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
  .btn-getstarted{
    background-color: rgba(255, 255, 255, 0.217);
 
    border: 1.5px solid rgba(255, 255, 255, 0.491);
 transition: all .3s;
  }
  .btn-getstarted:hover{
    background-color: rgba(255, 255, 255, 0.151);
  }
.nav-toggle{
  color: white;
}
  @media (max-width: 1200px){

    .hide-nav{
      display: none !important;
    }
    .nav-toggle{
      display: block !important;
    }
    .header>div{
      gap: 15px !important;
    }
 
  }
  .responsiv a{
color: black !important;
 
  }

.responsiv {
  display: none;
  position: absolute;
  top: 15%;
  right: 5%;
  left: 5%;
 
  background: white;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.responsiv.active {
  display: block;
 
  transition: all .3s;
}
.body.active{
  transition: all .3s;
  background-color: rgba(0, 0, 0, 0.543);
}
 .corss-btn{
  position: fixed;
 top: -9%;
  right: 1%;
  font-size: 40px;
  z-index: 1000;
  color: white;
 }

 /* responsiv dropdow */
 .res-drop ul li{
padding: 5px 0;
 }
 .res-drop ul{
  display: none;
  transition: all .3s;
 }
 .res-drop ul.active{
display: block;
 }
 .res-drop1 ul li{
padding: 5px 0;
 }
 .res-drop1 ul{
  display: none;
  transition: all .3s;
 }
 .res-drop1 ul.active{
display: block;
 }
 /* hero */
 .hero-bg{
 background-color:#e3f0ff;
 }
 .hero-text h1{
  font-size: 60px;
 }
 .hero-text p{
  font-size: large !important;
  line-height: 30px;
 
 }
 .action a{
  background: var(--accent-color);
  padding: 15px 20px;
  font-size: large;
 transition: all .3s;
 
 }
 .action .first-hvr:hover{
  transform: translateY(-5px);
 
background-color: #024597;
 }
 .action .lrm-btn{
  color: var(--accent-color);
  background-color: white;
  border: 1.5px solid var(--accent-color);
 }
 .action .lrm-btn:hover{
  background-color: var(--accent-color);
  color: white;
 
 }
 .hero-features .feature i{
  color: var(--accent-color);
  font-size: 18px;
 }
 .hero-img .course-cad{
  top: 2rem;
  left: -2rem;
 }
 .hero-img .course-cad2{
 bottom: 2rem !important;
  right: -2rem;
 }
 /* fethured */

 .title .line1{
  background-color: var(--accent-color);
  height: 2px;
  width: 50px;
 }
 .course-image .featured{
  background-color: var(--accent-color);
  padding: 5px 10px;
  position: absolute;
  top: 1rem;
  left: 1rem;
 }
 .course-image .price-badge{
  color: white;
  background-color: var(--default-color);
  padding: 5px 10px;
  position: absolute;
  top: 1rem;
  right: 1rem;
 }
 .course-meta .level{
  
 }